In [18]:
host = 'localhost'
user = 'root'
password = 'mooreTKE26!'
db = 'training'

In [32]:
conn = mysql.connector.connect(host=host,user=user,password=password,database=db)

In [43]:
def connect_database():
    conn = mysql.connector.connect(host=host,user=user,password=password,database=db)
    
    return conn, conn.cursor()

In [44]:
conn, cursor = connect_database()

In [26]:
#cursor.execute('create database training')

In [27]:
#conn.close()

In [22]:
sql = "CREATE TABLE STUDENTS(name varchar(20), rollback_num INT)"

In [24]:
#cursor.execute(sql)

In [25]:
conn.commit()

In [26]:
cursor.execute('SHOW TABLES')

In [27]:
conn.close()

In [53]:
sql = 'INSERT INTO STUDENTS values ("MIKE",1)'

In [54]:
cursor.execute(sql)

In [51]:
conn,cursor = connect_database()

In [52]:
sql = 'SELECT * FROM STUDENTS'

In [53]:
cursor.execute(sql)

In [55]:
myresult = cursor.fetchall()

In [56]:
for i in myresult:
    print(i)

('Michael', 2)
('Merkis', 3)
('Sai', 4)
('Michael', 2)
('Merkis', 3)
('Sai', 4)

In [63]:
conn.close()

In [64]:
conn,cursor = connect_database()

In [65]:
sql = 'SELECT * FROM STUDENTS WHERE name = "Michael"'

In [66]:
cursor.execute(sql)

In [67]:
myresult = cursor.fetchall()

In [68]:
for i in myresult:
    print(i)

('Michael', 2)
('Michael', 2)

In [69]:
conn.close()

In [70]:
conn,cursor = connect_database()

In [71]:
sql = 'SELECT * FROM STUDENTS order by rollback_num asc'

In [72]:
cursor.execute(sql)

In [73]:
myresult = cursor.fetchall()

In [74]:
myresult = cursor.fetchall()
for i in myresult:
    print(i)

('Michael', 2)
('Michael', 2)
('Merkis', 3)
('Merkis', 3)
('Sai', 4)
('Sai', 4)

In [75]:
conn.close()

In [87]:
conn,cursor = connect_database()

In [105]:
# # creating table
# sql = """CREATE TABLE STUDENT (
#                 NAME VARCHAR(20) NOT NULL,
#                 BRANCH VARCHAR(50),
#                 ROLL INT NOT NULL,
#                 SECTION VARCHAR(5),
#                 AGE INT
#                 )"""

In [106]:
#cursor.execute(sql)

In [107]:
conn.close()

In [108]:
conn,cursor = connect_database()

In [122]:
sql = "INSERT INTO STUDENT (NAME, BRANCH, ROLL, SECTION, AGE) VALUES (%s, %s, %s, %s, %s)"

In [112]:
attrValues = ("Rituraj Saha", "Information Technology", "1706256", "IT-3", "20")
cursor.execute(sql, attrValues)

In [115]:
conn.close()

In [121]:
conn,cursor = connect_database()

In [123]:
attrValues = ("Rituraj Saha", "Information Technology", "1706256", "IT-3", "20")
cursor.execute(sql, attrValues)

attrValues = ("Ritam Barik", "Information Technology", "1706254", "IT-3", "21")
cursor.execute(sql, attrValues)

attrValues = ("Rishi Kumar", "Information Technology", "1706253", "IT-3", "21")
cursor.execute(sql, attrValues)

In [125]:
sql = 'SELECT * FROM STUDENT'

In [126]:
cursor.execute(sql)

In [127]:
myresult = cursor.fetchall()
for i in myresult:
    print(i)

('Rituraj Saha', 'Information Technology', 1706256, 'IT-3', 20)
('Ritam Barik', 'Information Technology', 1706254, 'IT-3', 21)
('Rishi Kumar', 'Information Technology', 1706253, 'IT-3', 21)

In [128]:
conn.commit()

In [129]:
conn.close()

In [140]:
conn,cursor = connect_database()

In [133]:
#cursor.execute("DROP TABLE PHONE_RECORD") ---> gives an error because table do not exist
cursor.execute("DROP TABLE IF EXISTS PHONE_RECORD") # --> does not give error

In [141]:
conn,cursor = connect_database()

In [142]:
# creating table
sql = """CREATE TABLE PHONE_RECORD (
                NAME VARCHAR(20) NOT NULL,
                PHONE VARCHAR(10) NOT NULL
                )"""

In [146]:
#cursor.execute(sql)

In [147]:
conn.commit()

In [148]:
conn.close()

In [149]:
conn,cursor = connect_database()

In [151]:
query = "INSERT INTO PHONE_RECORD (NAME, PHONE) VALUES (%s, %s)"
attrValues = ("Rituraj Saha", "9163089075")
cursor.execute(query, attrValues)

In [152]:
conn.commit()

In [153]:
conn,cursor = connect_database()

In [156]:
sql ="UPDATE STUDENT SET AGE = 23 WHERE Name ='Rishi Kumar'"

In [157]:
cursor.execute(sql)

In [159]:
conn.commit()

In [161]:
cursor.execute('SHOW TABLES')

In [162]:
myresult = cursor.fetchall()
for i in myresult:
    print(i)

('PHONE_RECORD',)
('STUDENT',)
('STUDENTS',)